name: nocap-dev
services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # --- PENGGANTI MINIO/GARAGE ---
  seaweedfs:
    image: chrislusf/seaweedfs
    container_name: seaweedfs
    restart: unless-stopped
    ports:
      - "9000:8333" # Port S3 API (Mapped ke 9000 agar kode Bun tidak berubah)
      - "9333:9333" # Port Dashboard/Master
    volumes:
      - seaweed_data:/data
      # Mount config auth yang kita buat tadi
      - ./s3.json:/etc/seaweedfs/s3.json
    # Command untuk menjalankan server lengkap (Master + Volume + S3 + Filer)
    # -s3.port=8333 : Port internal S3
    # -s3.config : Lokasi file auth
    command: "server -dir=/data -s3 -s3.port=8333 -s3.config=/etc/seaweedfs/s3.json"

volumes:
  pgdata:
  seaweed_data:
